:root {
  --lightTheme: #FFFFFF;
  --darkTheme: #111111;
  --borderRadius: 10px;
  --animation: all 0.5s ease;
}

body {
  transition: var(--animation);
  overflow-x: hidden;
}

body.light-theme {
  background: var(--lightTheme);
}

body.dark-theme {
  background: var(--darkTheme);
}
  .toggle {
    margin-bottom: 20px;
  }

